<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chs.wxsmall.mapper.DrupPriceMapper" >
  <resultMap id="BaseResultMap" type="com.chs.wxsmall.model.DrupPrice" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="price_id" property="priceId" jdbcType="VARCHAR" />
    <result column="drup_id" property="drupId" jdbcType="VARCHAR" />
    <result column="store_id" property="storeId" jdbcType="VARCHAR" />
    <result column="buy_store" property="buyStore" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
  </resultMap>
</mapper>